{% load staticfiles %}
<html>
    <head>
        <title>Blog Post Platefarm</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body class="body">
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu" style="float: right; margin-right: 40px; color: white;"><h1><span class="glyphicon glyphicon-plus"></span><h1></a>
            {% endif %}
            <h1><a href="{% url 'post_list' %}">Perfect Blog Post</a></h1>
        </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <footer class="navbar navbar-default navbar-fixed-bottom text-center down"  style="padding: 0px;">
		<img src="{% static 'images/blog.jpg' %}" alt="TreasureGram" width="70" style="border-radius: 50px;">
		@BLOG -> POST 2017
		<img src="{% static 'images/blog.jpg' %}" alt="TreasureGram" width="70" style="border-radius: 50px;">
	</footer>
    </body>
</html>